@model IEnumerable<ProjektBeer.DB.Beer>

@{
    ViewBag.Title = "Beers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">


        <h2>Beers</h2>

        <p>
            <a href="~/Home/Create" class="button">CREATE A NEW BEER</a>
        </p>


        @foreach (var item in Model)
            {
            
            <div class="container">
                <div class="row">


                    <div class="wrapper">

                        <div class="col-1-2">
                            <div class="row">
                                <div class="product-wrap">
                                    <div class="product-shot">
                                        <img src="@Url.Content(item.ImagePath)" width="150" height="325" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-1-2">
                            <div class="row">
                                <div class="product-info">
                                    <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                                    <h3>@Html.DisplayFor(modelItem => item.Style)</h3>
                                    <h5>@Html.DisplayFor(modelItem => item.Price) PLN</h5>
                                    <div class="desc">
                                        @Html.DisplayFor(modelItem => item.BeerDes)
                                    </div>

                                    <a href="Details/@Html.DisplayFor(modelItem => item.IdBeer)" class="button">Read More</a>
                                    <a href="Delete/@Html.DisplayFor(modelItem => item.IdBeer)" class="button">Delete Beer</a>
                                    <a href="Edit/@Html.DisplayFor(modelItem => item.IdBeer)" class="button">Edit Beer</a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        }



    </div>

</div>